/* for-mobile */
@media (min-width:344px) and (max-width:450px) {
    .input-container{
        display: flex;
        flex-direction: column;
        justify-content: start;
        
    }
    .form-input{
        max-width: 90%;
    }
} 



@media (min-width: 768px) and (max-width: 1024px) {
    .input-container{
    display: flex;
    flex-direction: column;
    justify-content: start; 
    padding: 0 10px;
    }


.form-input{
        min-width: 60%;
        min-height: 60px;
    }

    .form-label{
       font-size: 30px;
    }

}