.grid-container {
  display: grid;
  grid-template-columns: auto auto auto auto;

  justify-items: center;
}

.home-login{
  display: none;
}

/* for mobile phones */
@media (min-width:344px) and (max-width:450px) {
  .for-tab{
    display: grid;
    grid-template-columns: auto;
  }

  .authMessage{
    padding: 0 10px;
  }
  .home-login{
    margin-top: 40px;
    display: block;
  }
}

@media (min-width:451px) and (max-width:767px) {
  .for-tab{
    display: grid;
    grid-template-columns: auto auto;
  }

  .authMessage{
    padding: 0 10px;
  }
}

@media (min-width: 768px) and (max-width: 912px) {
  .for-tab {
   display: grid;
   grid-template-columns: auto auto;
  }
  .para{
    font-size: 20px;
    
  }
}

@media (min-width: 913px) and (max-width: 1024px) {
  .for-tab{
    display: grid;
    grid-template-columns: auto auto auto;
  }
}

