.required{
    color: red;
}

@media (min-width: 344px) and (max-width: 450px) {
    .input-container{
        flex-direction: column;
    }
    
}

@media (min-width: 768px) and (max-width: 1024px) {
    /* .input-container{
        flex-direction: column;
    } */
    
    .tab-button{
        min-width: 150px;
        min-height: 60px;
        font-size: 25px;
    }
}





